--
-- Roles
--
BEGIN;

{% for i in ['anonymous', 'ANONYMOUS_USERS', 'LOGGED_IN_USERS',
    'geoserver', 'geosrvr_dev', 'geosrvr_users', 'geosrvr_owners',
    'erddap',
    'anibos', 'anibos_dev', 'anibos_owners', 'anibos_users'
    'anibos', 'anibos_dev', 'anibos_owners', 'anibos_users'] %}

DO
$do$
BEGIN
    IF NOT EXISTS (
    SELECT
    FROM pg_catalog.pg_roles
    WHERE rolname = '{{i}}') THEN
      CREATE ROLE "{{i}}";
END IF;
END
$do$;
{% endfor %}

-- high-level roles
ALTER ROLE anonymous WITH NOSUPERUSER INHERIT NOCREATEROLE NOCREATEDB LOGIN NOREPLICATION PASSWORD 'md51a4f309898c5d6adb951930be986e243';
ALTER ROLE "LOGGED_IN_USERS" WITH NOSUPERUSER INHERIT NOCREATEROLE NOCREATEDB NOLOGIN NOREPLICATION VALID UNTIL 'infinity';
ALTER ROLE "ANONYMOUS_USERS" WITH NOSUPERUSER INHERIT NOCREATEROLE NOCREATEDB NOLOGIN NOREPLICATION VALID UNTIL 'infinity';

-- geoserver
ALTER ROLE geoserver WITH NOSUPERUSER INHERIT NOCREATEROLE NOCREATEDB LOGIN NOREPLICATION PASSWORD 'geopass';
ALTER ROLE geosrvr_dev WITH NOSUPERUSER INHERIT NOCREATEROLE NOCREATEDB NOLOGIN NOREPLICATION;
ALTER ROLE geosrvr_owners WITH NOSUPERUSER INHERIT CREATEROLE CREATEDB NOLOGIN NOREPLICATION;
ALTER ROLE geosrvr_users WITH NOSUPERUSER INHERIT NOCREATEROLE NOCREATEDB NOLOGIN NOREPLICATION;

-- erddap
ALTER ROLE erddap WITH NOSUPERUSER INHERIT NOCREATEROLE NOCREATEDB LOGIN NOREPLICATION PASSWORD 'erdpass';

-- anibos
ALTER ROLE anibos WITH NOSUPERUSER INHERIT NOCREATEROLE NOCREATEDB LOGIN NOREPLICATION PASSWORD 'anibospass';
ALTER ROLE anibos_dev WITH NOSUPERUSER INHERIT NOCREATEROLE NOCREATEDB NOLOGIN NOREPLICATION;
ALTER ROLE anibos_owners WITH NOSUPERUSER INHERIT CREATEROLE CREATEDB NOLOGIN NOREPLICATION;
ALTER ROLE anibos_users WITH NOSUPERUSER INHERIT NOCREATEROLE NOCREATEDB NOLOGIN NOREPLICATION;

-- anibos
ALTER ROLE anibos WITH NOSUPERUSER INHERIT NOCREATEROLE NOCREATEDB LOGIN NOREPLICATION PASSWORD 'anibospass';
ALTER ROLE anibos_dev WITH NOSUPERUSER INHERIT NOCREATEROLE NOCREATEDB NOLOGIN NOREPLICATION;
ALTER ROLE anibos_owners WITH NOSUPERUSER INHERIT CREATEROLE CREATEDB NOLOGIN NOREPLICATION;
ALTER ROLE anibos_users WITH NOSUPERUSER INHERIT NOCREATEROLE NOCREATEDB NOLOGIN NOREPLICATION;


COMMIT;